<span class="loader" ng-if="!vm.formIsReady"></span>

<div ng-if="vm.formIsReady">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">{{vm.title}}</h3>
    </div>

    <div class="modal-body" id="modal-body">
        <div class="row">
            <div class="col-md-12">
                <label class="control-label">Name:</label>
                <input type="text" class="form-control" id="name" ng-model="vm.exercise.Name" />
                <label class="requiredError" ng-show="vm.validateForm==true && vm.validator.ValidName==false">Need to provide 'Name'</label>
                <label class="requiredError" ng-show="vm.validateForm==true && vm.validator.ValidNameAlreadyPresent">Exercise with name '{{vm.exercise.Name}}' already present in the system. Please, provide another name</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="control-label">Training Types:</h3>
            </div>
            <div class="col-md-12">
                <div ng-show="!vm.TrainingTypes">
                    <i class="fa fa-spinner fa-spin fa-3x fa-fw" style="font-size:24px"></i>
                </div>
                <div class="input-group col-md-12" ng-if="vm.TrainingTypes">
                    <ui-select title="Choose Exercises" multiple close-on-select="false" theme="selectize" ng-model="vm.exercise.TrainingTypes">
                        <ui-select-match placeholder="Select a training type in the list...">
                            <span>{{$item.TypeTraining}}</span>
                        </ui-select-match>
                        <ui-select-choices repeat="trainingType in vm.TrainingTypes | filter: $select.search">
                            <div ng-bind-html="trainingType.TypeTraining | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div>
                    <label class="requiredError" ng-show="vm.validateForm==true && vm.validator.ValidTrainingTypes==false">Need to provide at least one training type</label>
                </div>
            </div>
        </div>

    </div>

    <div class="modal-footer">
        <button id="save" class="btn btn-primary" ng-disabled="vm.disableSaveButton" ng-click="vm.save(vm.exercise)">Save</button>
        <a id="cancel" class="btn btn-warning" ng-click="vm.cancel()">Cancel</a>
    </div>
</div>