<h2 class="page-header">View Training Type</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div>
                <h4>Training Type:</h4>
            </div>
            <div class="controls">
                <label ng-bind="vm.trainingType.TypeTraining"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div>
                <h4>Description:</h4>
            </div>
            <div>
                <label ng-bind="vm.trainingType.Description" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button id="cancel" type="button" class="btn btn-primary" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</div>