<span class="loader" ng-if="!vm.formIsReady"></span>

<div class="container-fluid" ng-if="vm.formIsReady">
    <div class="row">
        <div class="col-md-12">
            <h3 class="control-label">Training Type:</h3>
        </div>
        <div class="col-md-12">
            <input type="text" class="form-control" id="trainingType" ng-model="vm.trainingType.TypeTraining" />
            <label ng-show="vm.validateForm==true && vm.validator.ValidTrainingType==false" class="requiredError">Need to provide "Training Type"</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3 class="control-label">Description:</h3>
        </div>
        <div class="col-md-12">
            <textarea type="text" rows="4" class="form-control" id="description" ng-model="vm.trainingType.Description"></textarea>
        </div>
    </div>
    <div class="footer-buttons">
        <button id="save" class="btn btn-primary" ng-disabled="vm.disableSaveButton" ng-click="vm.save(vm.trainingType)">Save</button>
        <a id="cancel" class="btn btn-warning" ng-click="close()">Cancel</a>
    </div>
</div>