<span ng-if="!vm.formIsReady" class="loader"></span>

<div class="container-fluid" ng-if="vm.formIsReady">
    <h2 class="page-header">Edit Training Type</h2>
    <form data-toggle="validator" role="form">
        <div class="form-group">
            <label for="trainingType" class="control-label">Training Type:</label>
            <input type="text" class="form-control" id="trainingType" ng-model="vm.trainingType.TypeTraining" required />
        </div>
        <div class="form-group">
            <label for="description" class="control-label">Description:</label>
            <textarea type="text" rows="4" class="form-control" id="description" ng-model="vm.trainingType.Description" required></textarea>
        </div>
        <div class="form-group">
            <button id="save" type="submit" ng-disabled="vm.disableSaveButton" class="btn btn-primary" ng-click="vm.save(vm.trainingType)">Save</button>
            <a id="cancel" class="btn btn-warning" ui-sref="trainingTypeHome">Cancel</a>
        </div>
    </form>
</div>