<span ng-if="!vm.formIsReady" class="loader"></span>

<div ng-if="vm.formIsReady">
    <h2 class="page-header">Set Informations</h2>
    <div class="container-fluid">
        <div class="row">
            <table class="table table-striped">
                <tr>
                    <th>Planned Time</th>
                    <th>Time For Rest</th>
                    <th>Spent Time</th>
                    <th>Count Approaches</th>
                    <th>Count Made Approaches</th>
                    <th></th>
                </tr>
                <tr ng-repeat="set in vm.sets">
                    <td ng-bind-template="Minutes: {{set.PlannedTime.Minutes}}, Seconds: {{set.PlannedTime.Seconds}}"></td>
                    <td ng-bind-template="Minutes: {{set.TimeForRest.Minutes}}, Seconds: {{set.TimeForRest.Seconds}}"></td>
                    <td ng-bind-template="Minutes: {{set.SpentTime.Minutes}}, Seconds: {{set.SpentTime.Seconds}}"></td>
                    <td ng-bind="set.CountApproaches"></td>
                    <td ng-bind="set.CountMadeApproaches"></td>
                    <td class="text-right">
                        <a class="btn btn-sm btn-info" ui-sref="setView({id:{{set.Id}}})">
                            <span class="glyphicon glyphicon-file"></span>
                        </a>
                        <a class="btn btn-sm btn-info" ui-sref="setEdit({id:{{set.Id}}})">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                        <a class="btn btn-sm btn-danger" ng-click="vm.remove(set.Id)">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="row">
            <a class="btn btn-primary" ui-sref="setNew">
                <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>&nbsp; Create New
            </a>
        </div>
    </div>
</div>