<h2 class="page-header">Add Approach</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">
                    <h3 for="planTimeForRest" class="control-label">Planned Time For Rest:</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <wo-time-selector show-hours="false" show-minutes="true" show-seconds="true" time="vm.approach.PlannedTimeForRest"></wo-time-selector>
                    <label class="requiredError" ng-show="vm.validateForm==true && vm.validator.ValidPlannedTimeForRest==false">Need to provide 'Planned Time For Rest'</label>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">
                    <h3 for="planTimeForRest" class="control-label">Spent Time For Rest:</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <wo-time-selector show-hours="false" show-minutes="true" show-seconds="true" time="vm.approach.SpentTimeForRest"></wo-time-selector>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-buttons">
        <button id="save" class="btn btn-primary" ng-disabled="vm.disableSaveButton" ng-click="vm.save(vm.approach)">Save</button>
        <a id="cancel" class="btn btn-warning" ng-click="close()">Cancel</a>
    </div>
</div>
