<span ng-if="!vm.formIsReady" class="loader"></span>

<div class="container-fluid" ng-if="vm.formIsReady">
    <h2 class="page-header">Edit Approach</h2>
    <form data-toggle="validate" role="form">
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <div class="row text-center">
                        <div class="col-md-12">
                            <h3 for="planTimeForRest" class="control-label">Planned Time For Rest:</h3>
                        </div>
                    </div>
                    <div class="row border">
                        <div class="col-md-6">
                            <label for="planTimeForRestMinutes" class="control-label">Minutes:</label>
                            <select class="form-control" id="planTimeForRestMinutes" ng-model="vm.approach.PlannedTimeForRest.Minutes" ng-options="minute for minute in vm.minutes"></select>
                        </div>
                        <div class="col-md-6">
                            <label for="planTimeForRestSeconds" class="control-label">Seconds:</label>
                            <select class="form-control" id="planTimeForRestSeconds" ng-model="vm.approach.PlannedTimeForRest.Seconds" ng-options="second for second in vm.seconds"></select>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="row text-center">
                        <div class="col-md-12">
                            <h3 for="planTimeForRest" class="control-label">Spent Time For Rest:</h3>
                        </div>
                    </div>
                    <div class="row border">
                        <div class="col-md-6">
                            <label for="spentTimeForRestMinutes" class="control-label">Minutes:</label>
                            <select class="form-control" id="spentTimeForRestMinutes" ng-model="vm.approach.SpentTimeForRest.Minutes" ng-options="minute for minute in vm.minutes"></select>
                        </div>

                        <div class="col-md-6">
                            <label for="spentTimeForRestSeconds" class="control-label">Seconds:</label>
                            <select class="form-control" id="spentTimeForRestSeconds" ng-model="vm.approach.SpentTimeForRest.Seconds" ng-options="second for second in vm.seconds"></select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <button id="save" type="submit" ng-disabled="vm.disableSaveButton" class="btn btn-primary" ng-click="vm.save(vm.approach)">Save</button>
            <a id="cancel" class="btn btn-primary" ui-sref="approachHome">Cancel</a>
        </div>
    </form>
</div>