<table>
    <tbody>
        <tr class="text-center">
            <td ng-show="vm.showHours">
                <a ng-click="vm.increaseHours()" class="btn btn-link" ng-disabled="vm.time.Hours==23">
                    <span class="glyphicon glyphicon-chevron-up">
                    </span>
                </a>
            </td>
            <td ng-show="vm.showHours">&nbsp;</td>
            <td ng-show="vm.showMinutes">
                <a ng-click="vm.increaseMinutes()" class="btn btn-link" ng-disabled="vm.time.Minutes==59">
                    <span class="glyphicon glyphicon-chevron-up"></span>
                </a>
            </td>
            <td ng-show="vm.showSeconds && vm.showMinutes">&nbsp;</td>
            <td ng-show="vm.showSeconds">
                <a ng-click="vm.increaseSeconds()" class="btn btn-link" ng-disabled="vm.time.Seconds==59">
                    <span class="glyphicon glyphicon-chevron-up"></span>
                </a>
            </td>
        </tr>
        <tr>
            <td class="form-group uib-time" ng-show="vm.showHours">
                <input type="text" placeholder="HH" ng-model="vm.time.Hours" class="form-control text-center" maxlength="2" ng-readonly="true" tooltip-placement="bottom" uib-tooltip="Hours">
            </td>
            <td ng-show="vm.showHours">:</td>
            <td class="form-group uib-time" ng-show="vm.showMinutes">
                <input type="text" placeholder="MM" ng-model="vm.time.Minutes" class="form-control text-center" maxlength="2" ng-readonly="true" tooltip-placement="bottom" uib-tooltip="Minutes">
            </td>
            <td ng-show="vm.showSeconds && vm.showMinutes">:</td>
            <td class="form-group uib-time" ng-show="vm.showSeconds">
                <input type="text" placeholder="SS" ng-model="vm.time.Seconds" class="form-control text-center" maxlength="2" ng-readonly="true" tooltip-placement="bottom" uib-tooltip="Seconds">
            </td>
        </tr>
        <tr class="text-center">
            <td ng-show="vm.showHours">
                <a ng-click="vm.decreaseHours()" class="btn btn-link" ng-disabled="!vm.time || vm.time.Hours==0">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
            </td>
            <td ng-show="vm.showHours">&nbsp;</td>
            <td ng-show="vm.showMinutes">
                <a ng-click="vm.decreaseMinutes()" class="btn btn-link" ng-disabled="!vm.time || vm.time.Minutes==0">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
            </td>
            <td ng-show="vm.showSeconds && vm.showMinutes">&nbsp;</td>
            <td ng-show="vm.showSeconds">
                <a ng-click="vm.decreaseSeconds()" class="btn btn-link" ng-disabled="!vm.time || vm.time.Seconds==0">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
            </td>
        </tr>
    </tbody>
</table>

