<table>
    <tbody>
        <tr class="text-center">
            <td ng-show="vm.showHours">
                <a class="btn btn-link" ng-disabled="vm.time.Hours===vm.maxHours" ng-click="vm.increaseHours()">
                    <span class="glyphicon glyphicon-chevron-up">
                    </span>
                </a>
            </td>
            <td ng-show="vm.showHours">&nbsp;</td>
            <td ng-show="vm.showMinutes">
                <a class="btn btn-link" ng-disabled="vm.time.Hours===vm.maxHours && vm.time.Minutes===vm.maxMinutes" ng-click="vm.increaseMinutes()">
                    <span class="glyphicon glyphicon-chevron-up"></span>
                </a>
            </td>
            <td ng-show="vm.showSeconds && vm.showMinutes">&nbsp;</td>
            <td ng-show="vm.showSeconds">
                <a class="btn btn-link" ng-disabled="vm.time.Hours===vm.maxHours && vm.time.Minutes===vm.maxMinutes && vm.time.Seconds===vm.maxSeconds" ng-click="vm.increaseSeconds()">
                    <span class="glyphicon glyphicon-chevron-up"></span>
                </a>
            </td>
        </tr>
        <tr>
            <td class="form-group uib-time" ng-show="vm.showHours">
                <input type="text" placeholder="HH" class="form-control text-center" maxlength="2" tooltip-placement="bottom" uib-tooltip="Hours" ng-model="vm.time.Hours" ng-readonly="true">
            </td>
            <td ng-show="vm.showHours">:</td>
            <td class="form-group uib-time" ng-show="vm.showMinutes">
                <input type="text" placeholder="MM" class="form-control text-center" maxlength="2" tooltip-placement="bottom" uib-tooltip="Minutes" ng-model="vm.time.Minutes" ng-readonly="true">
            </td>
            <td ng-show="vm.showSeconds && vm.showMinutes">:</td>
            <td class="form-group uib-time" ng-show="vm.showSeconds">
                <input type="text" placeholder="SS" class="form-control text-center" maxlength="2" tooltip-placement="bottom" uib-tooltip="Seconds" ng-model="vm.time.Seconds" ng-readonly="true">
            </td>
        </tr>
        <tr class="text-center">
            <td ng-show="vm.showHours">
                <a class="btn btn-link" ng-hide="!vm.time" ng-disabled="vm.time.Hours===0" ng-click="vm.decreaseHours()">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
            </td>
            <td ng-show="vm.showHours">&nbsp;</td>
            <td ng-show="vm.showMinutes">
                <a class="btn btn-link" ng-hide="!vm.time" ng-disabled="vm.time.Minutes===0 && vm.time.Hours===0" ng-click="vm.decreaseMinutes()">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
            </td>
            <td ng-show="vm.showSeconds && vm.showMinutes">&nbsp;</td>
            <td ng-show="vm.showSeconds">
                <a class="btn btn-link" ng-hide="!vm.time" ng-disabled="vm.time.Seconds===0 && vm.time.Minutes===0" ng-click="vm.decreaseSeconds()">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
            </td>
        </tr>
    </tbody>
</table>

