<span class="loader" ng-if="!vm.formIsReady"></span>

<div class="container-fluid" ng-if="vm.formIsReady && vm.set">
    <h2 class="page-header">Set</h2>
    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">
                    <h3 for="planTimeForRest" class="control-label">Planned Time For Set:</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <wo-time-selector show-hours="false" show-minutes="true" show-seconds="true" time="vm.set.PlannedTime"></wo-time-selector>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <h3 for="planTimeForRest" class="control-label">Time For Rest After Approach:</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <wo-time-selector show-hours="false" show-minutes="true" show-seconds="true" time="vm.set.TimeForRest"></wo-time-selector>
                    <label class="requiredError" ng-show="vm.validateForm==true && vm.validator.ValidTimeForRest==false">Need to provide 'Time For Reset After Approach'</label>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3 class="control-label">Exercises:</h3>
        </div>
        <div class="col-md-9">
            <div ng-show="!vm.Exercises">
                <i class="fa fa-spinner fa-spin fa-3x fa-fw" style="font-size:24px"></i>
            </div>
            <div class="input-group" ng-if="vm.Exercises">
                <ui-select title="Choose Exercises" multiple close-on-select="false" theme="selectize" ng-model="vm.set.Exercises">
                    <ui-select-match placeholder="Select an excercise in the list...">
                        <span tooltip-placement="right" uib-tooltip="Update" ng-click="vm.addEditExercise($item.Id,vm.set.Id)">{{$item.Name}}</span>
                    </ui-select-match>
                    <ui-select-choices repeat="exercise in vm.Exercises | filter: $select.search">
                        <div ng-bind-html="exercise.Name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
                <span class="input-group-btn p-left5">
                    <button type="button" class="btn btn-success btn-md" ng-click="vm.addEditExercise(null,vm.set.Id)">
                        Add New <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </span>
            </div>
            <div>
                <label class="requiredError" ng-show="vm.validateForm==true && vm.validator.ValidExercises==false">Need to provide at least one exercise</label>
            </div>
        </div>
    </div>

    <div class="row" ng-show="vm.set.TimeForRest.Minutes>=1 || vm.set.TimeForRest.Seconds>=1">
        <div class="col-md-12">
            <h3 for="planTimeForRest" class="control-label">Count Approaches:</h3>
            <h6 for="planTimeForRest" class="help-block">Max approach count is 15</h6>
        </div>
        <div class="col-md-3">
            <div class="input-group" ng-if="vm.Exercises">
                <input type="number" min="1" max="15" class="form-control" name="countApproaches" ng-model="vm.set.CountApproaches" />
                <span class="input-group-btn p-left5" ng-show="vm.set.CountApproaches>0">
                    <button type="button" class="btn btn-success btn-md" ng-click="vm.generateApproaches(vm.set)">
                        Generate Approaches
                    </button>
                </span>
            </div>
            <label class="requiredError" ng-show="vm.validateForm==true && vm.validator.ValidApproaches==false">You must generate at least one Approach</label>
        </div>
    </div>

    <div class="row" ng-if="vm.set.Approaches.length>0">
        <div ng-show="vm.generetingApproaches">
            <i class="fa fa-spinner fa-spin fa-3x fa-fw" style="font-size:24px"></i>
        </div>
        <div ng-show="!vm.generetingApproaches">
            <div class="col-md-12">
                <h3 for="planTimeForRest" class="control-label">Approaches:</h3>
            </div>
            <div class="col-md-12">
                <table class="table table-striped">
                    <tr>
                        <th>Planned Time For Rest</th>
                        <th>Spent Time For Rest</th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="approach in vm.set.Approaches">
                        <td ng-bind-template="Minute(s): {{ approach.PlannedTimeForRest.Minutes }} Second(s): {{approach.PlannedTimeForRest.Seconds}}"></td>
                        <td ng-bind-template="Minute(s): {{ approach.SpentTimeForRest.Minutes }} Second(s): {{approach.SpentTimeForRest.Seconds}}"></td>
                        <td class="text-right">
                            <a class="btn btn-sm btn-info" ng-click="vm.addEditApproach(approach.Id,vm.set.Id)">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                            <a class="btn btn-sm btn-danger" ng-click="vm.removeApproach(approach.Id)">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" class="text-left countTableText" ng-bind-template="Count of Approaches: {{vm.set.Approaches.length}}"></td>
                    </tr>
                </table>
                <label class="requiredError" ng-show="vm.set.validateForm===true || vm.validator.ValidCountApproaches===false">Count of Approaches must be great than 0.</label>
            </div>
        </div>
    </div>

    <div class="footer-buttons">
        <button id="save" class="btn btn-primary" ng-disabled="vm.disableSaveButton" ng-click="vm.save(vm.set)">Save</button>
        <a id="cancel" class="btn btn-warning" ng-click="close()">Cancel</a>
    </div>
</div>