<span class="loader" ng-if="!vm.formIsReady"></span>

<div class="container-fluid" ng-if="vm.formIsReady && vm.set">
    <h2 class="page-header">View Set</h2>
    <div class="row">
        <div class="col-md-12">
            <div ng-if="!vm.set.Finished">
                <button class="btn btn-success" ng-if="!vm.set.Started" ng-click="vm.startSet()">Start Set</button>
                <button class="btn btn-danger" ng-if="vm.set.Started" ng-click="vm.finishSet()">Finish Set</button>
            </div>
            <span class="help-block text-center" ng-if="vm.set.Finished">This set was finished, you cannot start it again.</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="row text-center">
                <div class="col-md-12">
                    <h3 for="planTimeForRest" class="control-label">Planned Time For Rest:</h3>
                </div>
            </div>
            <div class="row border">
                <div class="col-md-6">
                    <label class="control-label" ng-bind="::vm.set.PlannedTime.Minutes"></label>
                    <label class="control-label">Minute(s)</label>
                </div>
                <div class="col-md-6">
                    <label class="control-label" ng-bind="::vm.set.PlannedTime.Seconds"></label>
                    <label class="control-label">Second(s)</label>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="row text-center">
                <div class="col-md-12">
                    <h3 for="planTimeForRest" class="control-label">Time For Rest After Approach:</h3>
                </div>
            </div>
            <div class="row border">
                <div class="col-md-6">
                    <label class="control-label" ng-bind="::vm.set.TimeForRest.Minutes"></label>
                    <label class="control-label">Minute(s)</label>
                </div>
                <div class="col-md-6">
                    <label class="control-label" ng-bind="::vm.set.TimeForRest.Seconds"></label>
                    <label class="control-label">Second(s)</label>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <h4>Start Set:</h4>
                    </div>
                    <div class="controls">
                        <label ng-bind-template="{{vm.set.StartDateTime|date:'MMM d, yyyy HH:mm:ss'}}" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <h4>End Set:</h4>
                    </div>
                    <div class="controls">
                        <label ng-bind-template="{{vm.set.EndDateTime|date:'MMM d, yyyy HH:mm:ss'}}" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-if="vm.set.Finished && vm.set.SpentTime">
        <div class="col-md-6">
            <div class="row text-center">
                <div class="col-md-12">
                    <h3 for="planTimeForRest" class="control-label">Spent Time For Set:</h3>
                </div>
            </div>
            <div class="row border">
                <div class="col-md-6">
                    <label class="control-label" ng-bind="::vm.set.SpentTime.Minutes"></label>
                    <label class="control-label">Minute(s)</label>
                </div>
                <div class="col-md-6">
                    <label class="control-label" ng-bind="::vm.set.SpentTime.Seconds"></label>
                    <label class="control-label">Second(s)</label>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3 for="planTimeForRest" class="control-label">Approaches:</h3>
        </div>
        <div class="col-md-12">
            <table class="table table-striped">
                <tr>
                    <th>Planned Time For Rest</th>
                    <th>Spent Time For Rest</th>
                </tr>
                <tr ng-repeat="approach in vm.set.Approaches">
                    <td ng-bind-template="Minute(s): {{ approach.PlannedTimeForRest.Minutes }} Second(s): {{approach.PlannedTimeForRest.Seconds}}"></td>
                    <td ng-bind-template="Minute(s): {{ approach.SpentTimeForRest.Minutes }} Second(s): {{approach.SpentTimeForRest.Seconds}}"></td>
                </tr>
                <tr>
                    <td colspan="2" class="text-left countTableText" ng-bind-template="Count of Approaches: {{vm.set.Approaches.length}}"></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="footer-buttons">
        <a id="cancel" class="btn btn-warning" ng-click="close()">Cancel</a>
    </div>
</div>