<span class="loader" ng-if="!vm.formIsReady"></span>

<div ng-if="vm.formIsReady">
    <h2 class="page-header">Training Type Informations</h2>
    <div class="container-fluid">
        <div class="row">
            <table class="table table-striped">
                <tr>
                    <th>Training Type</th>
                    <th>Description</th>
                    <th></th>
                </tr>
                <tr ng-repeat="trainingType in vm.trainingTypes">
                    <td>
                        <a ui-sref="trainingTypeView({id:{{trainingType.Id}}})">
                            <span ng-bind="trainingType.TypeTraining"></span>
                        </a>
                    </td>
                    <td ng-bind-template="{{ trainingType.Description | limitTo: 100 }}{{trainingType.Description.length > 100 ? '...' : ''}}"></td>
                    <td class="text-right">
                        <a class="btn btn-sm btn-info" ng-click="vm.addEditTrainingType(trainingType.Id,$index)">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                        <a class="btn btn-sm btn-danger" ng-click="vm.remove(trainingType)">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="row">
            <a class="btn btn-primary" ng-click="vm.addEditTrainingType()">
                <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>&nbsp; Create New
            </a>
        </div>
    </div>
</div>