<!--public virtual TrainingType TrainingType { get; set; }
public int? TrainingTypeId { get; set; }
public IEnumerable<Set> Sets { get; set; }
public DateTime? StartDateTime { get; set; }
public DateTime? EndDateTime { get; set; }
public string MainTrainingPurpose { get; set; }
public string Description { get; set; }-->

<!--<div class="row">
    <div class="col-md-12">
        <h3 class="control-label">Start Training:</h3>
    </div>
    <div class="col-md-9">
        <div class="dropdown">
            <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
                <div class="input-group">
                    <input type="text" class="form-control" data-ng-model="vm.training.StartDateTime"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <datetimepicker data-ng-model="vm.training.StartDateTime" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }" />
            </ul>
        </div>
    </div>
</div>-->
