<span ng-if="!vm.formIsReady" class="loader"></span>

<div ng-if="vm.formIsReady">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h3 class="control-label">Training Type:</h3>
            </div>
            <div class="col-md-9">
                <div ng-show="!vm.TrainingTypes">
                    <i class="fa fa-spinner fa-spin fa-3x fa-fw" style="font-size:24px"></i>
                </div>
                <div ng-show="vm.TrainingTypes">
                    <div>
                        <ui-select ng-model="vm.training.TrainingType" theme="selectize" title="Choose a Training Type">
                            <ui-select-match placeholder="Select or search a Training Type in the list...">{{$select.selected.TypeTraining}}</ui-select-match>
                            <ui-select-choices repeat="trainingType in vm.TrainingTypes">
                                <div ng-bind-html="trainingType.TypeTraining | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div>
                        <label ng-show="vm.validateForm==true && vm.validator.ValidTrainingType==false" class="requiredError">Need to provide "Training Type"</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 for="planTimeForRest" class="control-label">Main Training Purpose:</h3>
            </div>
            <div class="col-md-12">
                <input type="text" class="form-control" name="mainTrainingPurpose" ng-model="vm.training.MainTrainingPurpose" />
                <label ng-show="vm.validateForm==true && vm.validator.ValidMainTrainingPurpose==false" class="requiredError">Need to provide "Main Training Purpose"</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 for="planTimeForRest" class="control-label">Sets:</h3>
            </div>
            <div class="col-md-12">
                <table class="table table-striped">
                    <tr>
                        <th>Exercises:</th>
                        <th>Planned time for Rest:</th>
                        <th>Approaches:</th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="set in vm.training.Sets">
                        <td>
                            <div class="exerciseText" ng-repeat="exercise in set.Exercises">
                                <span ng-bind="::exercise.Name"></span>
                            </div>
                        </td>
                        <td ng-bind-template="Minute(s): {{ set.PlannedTime.Minutes }} Second(s): {{set.PlannedTime.Seconds}}"></td>
                        <td>
                            <table class="table table-striped">
                                <tr>
                                    <th>Planned Time For Rest</th>
                                    <th>Spent Time For Rest</th>
                                </tr>
                                <tr ng-repeat="approach in set.Approaches">
                                    <td ng-bind-template="Minute(s): {{ approach.PlannedTimeForRest.Minutes }} Second(s): {{approach.PlannedTimeForRest.Seconds}}"></td>
                                    <td ng-bind-template="Minute(s): {{ approach.SpentTimeForRest.Minutes }} Second(s): {{approach.SpentTimeForRest.Seconds}}"></td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="text-left countTableText" ng-bind-template="Count of Approaches: {{set.Approaches.length}}"></td>
                                </tr>
                            </table>
                        </td>
                        <td class="text-right">
                            <a class="btn btn-sm btn-info" ng-click="vm.editSet(set.Id)">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                            <a class="btn btn-sm btn-danger" ng-click="vm.removeSet(set.Id)">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" class="text-left countTableText" ng-bind-template="Count of Sets: {{vm.training.Sets.length}}"></td>
                        <td class="text-right">
                            <a id="cancel" class="btn btn-primary" ui-sref="setNew({trainingId:vm.training.Id})">
                                <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                                Add Set
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 for="planTimeForRest" class="control-label">Description:</h3>
            </div>
            <div class="col-md-12">
                <textarea type="text" rows="4" class="form-control" id="description" ng-model="vm.training.Description"></textarea>
            </div>
        </div>
    </div>
</div>

<!--public virtual TrainingType TrainingType { get; set; }
public int? TrainingTypeId { get; set; }
public IEnumerable<Set> Sets { get; set; }
public DateTime? StartDateTime { get; set; }
public DateTime? EndDateTime { get; set; }
public string MainTrainingPurpose { get; set; }
public string Description { get; set; }-->
<!--<div class="row">
    <div class="col-md-12">
        <h3 class="control-label">Start Training:</h3>
    </div>
    <div class="col-md-9">
        <div class="dropdown">
            <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
                <div class="input-group">
                    <input type="text" class="form-control" data-ng-model="vm.training.StartDateTime"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <datetimepicker data-ng-model="vm.training.StartDateTime" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }" />
            </ul>
        </div>
    </div>
</div>-->
