<span class="loader" ng-if="!vm.formIsReady"></span>

<div ng-if="vm.formIsReady && vm.training">
    <h2 class="page-header">Training</h2>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h3 class="control-label">Training Type:</h3>
            </div>
            <div class="col-md-12">
                <div ng-show="!vm.TrainingTypes">
                    <i class="fa fa-spinner fa-spin fa-3x fa-fw" style="font-size:24px"></i>
                </div>
                <div ng-show="vm.TrainingTypes">
                    <div class="row">
                        <div class="col-md-4">
                            <ui-select title="Choose a Training Type" theme="selectize" ng-model="vm.training.TrainingType">
                                <ui-select-match placeholder="Select or search a Training Type in the list...">{{$select.selected.TypeTraining}}</ui-select-match>
                                <ui-select-choices repeat="trainingType in vm.TrainingTypes | filter: $select.search">
                                    <div ng-bind-html="trainingType.TypeTraining | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="col-md-8 nopadding-left">
                            <button type="button" class="btn btn-success btn-md" ng-click="vm.addTrainingType()">
                                Add New <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </div>
                    </div>
                    <div>
                        <label class="requiredError" ng-show="vm.validateForm==true && vm.validator.ValidTrainingType===false">Need to provide "Training Type"</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="control-label">Main Training Purpose:</h3>
            </div>
            <div class="col-md-12">
                <input type="text" class="form-control" name="mainTrainingPurpose" ng-model="vm.training.MainTrainingPurpose" />
                <label class="requiredError" ng-show="vm.validateForm==true && vm.validator.ValidMainTrainingPurpose==false">Need to provide "Main Training Purpose"</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="control-label">Description:</h3>
            </div>
            <div class="col-md-12">
                <textarea type="text" rows="4" class="form-control" id="description" ng-model="vm.training.Description"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <h3 class="control-label">Training Date:</h3>
                <div>
                    <md-datepicker ng-model="vm.training.TrainingDate" md-placeholder="Enter date"></md-datepicker>
                </div>
                <div>
                    <label class="requiredError" ng-show="vm.validateForm==true && vm.validator.ValidTrainingDate===false">Need to provide "Training Date"</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 for="planTimeForRest" class="control-label">Sets:</h3>
                <span class="help-block">Need to select 'Training Type' for adding new 'Set'</span>
            </div>
            <div class="col-md-12">
                <table class="table table-striped">
                    <tr>
                        <th>Planned time for Rest:</th>
                        <th>Approaches:</th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="set in vm.training.Sets">
                        <td ng-bind-template="Minute(s): {{ set.PlannedTime.Minutes }} Second(s): {{set.PlannedTime.Seconds}}"></td>
                        <td>
                            <table class="table table-bordered">
                                <tr>
                                    <th>Planned Time For Rest</th>
                                    <th>Spent Time For Rest</th>
                                </tr>
                                <tr ng-repeat="approach in set.Approaches">
                                    <td ng-bind-template="Minute(s): {{ approach.PlannedTimeForRest.Minutes }} Second(s): {{approach.PlannedTimeForRest.Seconds}}"></td>
                                    <td ng-bind-template="Minute(s): {{ approach.SpentTimeForRest.Minutes }} Second(s): {{approach.SpentTimeForRest.Seconds}}"></td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="text-left countTableText" ng-bind-template="Count of Approaches: {{set.Approaches.length}}"></td>
                                </tr>
                            </table>
                        </td>
                        <td class="text-right">
                            <a class="btn btn-sm btn-info" ui-sref="setEdit({id:set.Id,training:vm.training})">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                            <a class="btn btn-sm btn-danger" ng-click="vm.removeSet(set.Id)">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="text-left countTableText" ng-bind-template="Count of Sets: {{vm.training.Sets.length}}"></td>
                        <td class="text-right" ng-if="vm.training.TrainingType && vm.training.TrainingType.Id > 0">
                            <a class="btn btn-success" ui-sref="setNew({training:vm.training})">
                                <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                                Add Set
                            </a>
                        </td>
                    </tr>
                </table>
                <div>
                    <label class="requiredError" ng-show="vm.validateForm && vm.validator.ValidSets===false">Please, provide at least one Set</label>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-buttons">
        <button id="save" class="btn btn-primary" ng-disabled="vm.disableSaveButton" ng-click="vm.save(vm.training)">Save</button>
        <a id="cancel" class="btn btn-warning" ui-sref="trainingHome">Cancel</a>
    </div>
</div>